<%- include("./partials/header.ejs") %>
        <h1>Thank you <%= name %>!</h1>
        <p>Your message was: <%= message %></p>
        <div>
            <p>Your favourite colour is: <%= favouriteColour %></p>
            <p>Your favourite day is: <%= favouriteDay %></p>
        </div>
<%- include("./partials/footer.ejs") %>
        
