<article>
    <div class="stats" style="margin-bottom: 1em">
        <h2>Admin Panel</h2>
        <h3>Amazon has <%= @products.count %> products</h3>
        <h3>Amazon has <%= @reviews.count %> reviews</h3>
        <h3>Amazon has <%= @users.count %> users</h3>
    </div>

    <div class="products">
        <h3>Products</h3>
        <% @products.each do |product| %>
            <div class="product"> <%= product.id %> | <%= link_to product.title, product_path(product) %></div>
        <% end %>
    </div>

    <div class="users">
        <h3>Users</h3>
        <% @users.each do |user| %>
            <div class="user"> <%= user.id %> | <%= user.full_name %> (<%= user.email %>)</div>
        <% end %>
    </div>
</usersticle>