%h2 Hello, #{@user.first_name}
%h3 Your product, #{@product.title} was created successfully!


.product{style: "padding: 1em"}
    %h4 #{@product.title}
    %h5 $#{'%.2f' % @product.price}

    %p #{@product.description}
    %p
        View your newly created product 
        = link_to('here', product_url(@product))

%p Cheers,
%p &nbsp;&nbsp;&nbsp;&nbsp;The Amazon Team