Hello, #{@user.first_name}
Your product, #{@product.title} was created successfully!


#{@product.title}
$#{'%.2f' % @product.price}

#{@product.body}

View your newly created product at #{product_path(@product)}

Cheers,
The Amazon Team