Hello, #{@user.first_name}
Your product, #{@product.title} was created successfully!


#{@product.title}
$#{'%.2f' % @product.price}

#{@product.description}

View your newly created product at #{product_url(@product)}

Cheers,
The Amazon Team