<article>
    <h3><%= @product.title %> <span class="author">by <%= @product.user.full_name %></span></h1>
    <h4>Price $<%= '%.2f' % @product.price  %></h4>
    <p class="description"%><%= @product.description %></p>


    <% if can?(:crud, @product) %>  
        <%= link_to 'Edit', edit_product_path(@product) %>
        <%= link_to 'Delete', product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>

<h3>Leave a review!</h3>
<div class="form">
        <% if @review.errors.any? %>
            <ul>
                <% @review.errors.full_messages.each do |msg|%>
                <li class="error-msg"><%=msg%></li>
                <% end %>
            </ul>

        <%end%>
        <%= form_with model: [@product, @review], local: true do |f| %>
            <div>
            <%= f.label :body %>
            <%= f.text_area :body %>
            </div>
            
            <div>
            <%= f.label :rating %>
            <%= f.text_field :rating %>
            </div>

            <%= f.submit %>

        <% end %>
    
    
    </div>

    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
        
        <% unless review.is_hidden? && !can?(:hide, review) %>
            <div class="review <%= "hidden-#{review.is_hidden?}" %>">
                <p style="font-weight: 900"><%= review.rating %> Star <span class="author">by <%= review.user.full_name %></span></p>
                <p><%= review.body %></p>
                <% if can? :crud, review %>
                    <%= link_to 'Destroy',  product_review_path(@product, review),  method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <% if can? :hide, review %>
                    <% if review.is_hidden %>
                        <%= link_to 'Unhide', hide_review_path(review) %>  
                    <% else %>
                        <%= link_to 'Hide', hide_review_path(review) %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        
    <% end %>




</article>
